[submodule "hb_universal"]
	path = hb_universal
	url = git@bubba.ecdl.hut.fi:a-core/a-core_chisel/hb_universal.git
[submodule "cic_universal"]
	path = cic_universal
	url = git@bubba.ecdl.hut.fi:a-core/a-core_chisel/cic_universal.git
