[submodule "hb_universal"]
	path = hb_universal
	url = git@github.com:Chisel-blocks/hb_universal.git
[submodule "cic_universal"]
	path = cic_universal
	url = git@github.com:Chisel-blocks/cic_universal.git
