[submodule "hb_decimator"]
	path = hb_decimator
	url = git@gitlab.com:a-core/a-core_chisel/hb_decimator.git
[submodule "cic_decimator"]
	path = cic_decimator
	url = git@gitlab.com:a-core/a-core_chisel/cic_decimator.git
